.login_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: url("https://static.dezeen.com/uploads/2022/09/sth-bnk-melbourne-un-studio_dezeen_2364_col_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login_content {
  height: 500px;
  width: 800px;
  box-shadow: 0px 30px 40px black;
  display: flex;
  border-radius: 10px;
}

.login_content .image {
  flex: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://static.dezeen.com/uploads/2022/09/sth-bnk-melbourne-un-studio_dezeen_2364_col_0.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.login_content .image h1 {
  margin-top: 50%;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 32px;
}

.login_content span {
  color: chartreuse;
}

.login_content .content {
  flex: 50%;
  background-color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.login_content .content h1 {
  padding-bottom: 10px;
  padding-top: 20px;
  font-family: "Niconne", cursive;
  font-size: 30px;
  color: #c446c9;
}

.login_content #txt {
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: rgba(156, 77, 156, 0.3);
  border-radius: 10px;
  font-weight: bold;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  color: #aa38a4;
}

.login_content label {
  font-weight: bold;
  font-size: small;
}

.login_content #txt:focus {
  outline: none;
}

.login_content .fp {
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  transition: 0.3s;
}

.login_content .fp:hover {
  color: #c446c9;
}

.login_content button {
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  border-radius: 20px;
  transition: 0.3s;
}

.login_content button:hover {
  transform: scale(1.02);
}

.login_content button a {
  text-decoration: none;
  color: white;
}
@media (max-width: 600px) {
  .login_content .image {
    display: none;
  }
  .login_content {
    height: 400px;
    width: 90%;
  }

  .login_content .content {
    flex: 100%;
  }
  .login_content button {
    padding: 10px 20px;
    margin-top: 0px;
    border: none;
    background: linear-gradient(to right, #4568dc, #b06ab3);
    border-radius: 20px;
    transition: 0.3s;
  }
}
